body {
    margin:0;
    padding: 0;
    font-family: 'Zen Loop', cursive;

}

.contenedor {
    width: 90%;
    max-height: 1280px;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background: url(imagenes/encabezado.jpg);
    background-size: cover;
    height: 100vh;
}

img {
    padding-top: 50px;
}

header ul {
    display: flex;
    padding-top: 20px;
}

header ul li {
    margin: 0 20px;
    font-size: 40px;
}

header ul li a {
    color: #fff;
}

.titular {
    text-align: center;
    margin-top: 20vh;
    color: #fff;
}

h1 {
    font-size: 120px;
    font-style: normal;
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
}

.titular a {
    background: #000;
    color: #C2E71F;
    font-size: 25px;
    padding: 20px 40px
}

.contenedor-tarjetas {
    display: flex;
}

.tarjeta {
    text-align: center;
    box-shadow: -1px 0px 5px #0000001f;
}
