body {
    margin:0;
    padding: 0;
    font-family: 'Zen Loop', cursive;
}

.contenedor {
    width: 90%;
    max-height: 1280px;
    margin: auto;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.maria {

}

.titular {
    text-align: center;
    margin-top: 10vh;
    color: #fff;
}

h1 {
    font-size: 110px;
    font-style: normal;
    width: 100%;
    margin: auto;
    margin-bottom: 80px;
    margin-top: 40px;
}


.titular a {
    font-family: 'Roboto Mono', monospace;
    background: #000;
    color: #C2E71F;
    font-size: 20px;
    padding: 15px 35px
}

#classes {
  font-family: 'Roboto Mono', monospace;
  background: #F6F6F6;
}

table {
    width: 100%;
    text-align: center;
}

.blanco, th {
    background: #fff;

}

th {
    padding: 10px 0;
    color: green;
    font-weight: bolder;
    font-style: italic;
    font-size: 13px;
}

td {
    font-size: 13px;
}

.gris {
    background: : #E8E8E8;
}

.negrita {
    font-weight: bold;
}

 .horario {
   color: blue;
  font-style: italic;
  font-size: 15px;
 }

h2 {
    text-align: center;
    font-size: 50px;
    font-style: italic;
}
