body {
    margin: 0;
    padding: 0;
}

#pantalla-dividida {
    display: flex;
}

#ced {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    height: 30%;
    width: 40%;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 40px;
}

.izquierda {
    background: url(imagenes/portalmaria1.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;
}

.derecha {
    background: url(imagenes/portalnico1.jpg);
    background-size: contain;
    background-position: center;
    width: 50%;
    height: 100vh;
}

#boton-izquierda {
    text-decoration: none;
    padding: 20px;
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
    margin-left: 180px;
    margin-top: 40%;
}

/* #boton-derecha {
    text-decoration: none;
    padding: 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
    margin-left: 180px;
    margin-top: 50%;
} */
